name: Deployment
on:
  push:
    branches:
      - main
      - dev
# Environment Variable at Workflow Level
env:
  MONGODB_DB_NAME: gha-demo
jobs:
  test:
    # Environment Variable at job Level
    env: 
        MONGODB_CLUSTER_ADDRESS: cluster0.dxag2nq.mongodb.net
        MONGODB_USERNAME: ${{ secret.MONGODB_USERNAME }}
        MONGODB_PASSWORD: ${{ secret.MONGODB_PASSWORD }}
        PORT: 8080
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-deps-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run server
        # Using the job env variable 
        run: npm start & npx wait-on http://127.0.0.1:$PORT
      - name: Run tests
        run: npm test
      - name: Output information
        # Accessing Job Env Variable
        run: |
          echo "Accessing Way 1: MONGODB_USERNAME: $MONGODB_USERNAME"
          echo "Accessing Way 2: MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        # Accessing Job Env Variable in another job
        # Accessing Workflow Env Variable
        run: |        
           echo "Job Env Variable: MONGODB_USERNAME: $MONGODB_DB_NAME"
           echo "Workflow Env Variable: MONGODB_DB_NAME: ${{ env.MONGODB_DB_NAME }}"
